[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyzbar = {editable = true, git = "https://github.com/sushil-bharati/pyzbar"}
imutils = "*"
pygame = "*"
pyserial = "*"
serial = "*"
simple-pid = "*"
picamera = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
